services:
  api:
    build:
      context: .
      dockerfile: src/Api/Dockerfile
    container_name: enterprise-ai-api
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__PostgreSql: Host=34.91.137.209;Port=5432;Database=ccapture_demo_app;Username=postgres;Password=postgres
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:16-alpine
    container_name: enterprise-ai-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: enterprise_ai_docs
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d enterprise_ai_docs"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: ./frontend/enterprise-ai-docs
      dockerfile: Dockerfile
    container_name: enterprise-ai-web
    ports:
      - "4200:80"
    depends_on:
      - api

volumes:
  pg_data:
